@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

body {
  color: #161616;
}

.paper-line {
  background-image: repeating-linear-gradient(
    transparent,
    transparent calc(2rem - 1px),
    #dddddd calc(2rem - 1px),
    #dddddd 2rem
  );
}
